## 1.

Gain(price?) = Entropy(willWait) - Remainder(price?)  
Gain(price?) = 1 - Remainder(price?)  
Gain(price?) = 1 - (7/12 * Entropy(3/7, 4/7) + 2/12 * Entropy(2/2, 0/2) + 3/12 * Entropy(1/3, 2/3)) 
Gain(price?) = 1 - (7/12 * -(3/7 * log2(3/7) + 4/7 * log2(4/7)) + 2/12 * -(1 * log2(1) + 0 * log2(0)) + 3/12 * -(1/3 * log2(1/3) + 2/3 * log2(2/3)))  
Gain(price?) = 1 - (7/12 * 0.985228136 + 4/7 * 0 + 2/12 * 0.918295834)  
Gain(price?) = 0.272234282 bits

Asking the price question is more valuable than the type question (0 bits), but less valuable than the patrons question (0.54 bits).


## 2.

It is not possible to create a neural network that computes XOR through a linear model. AND and OR are possible because they are linearly seperable - you can have a threshold value that the correct answer needs to be above. XOR is not linearly seperable. XOR returns true for [1,0] and [0,1], but false for [0,0] and [1,1]. To be able to implement XOR in a neural network, we need a non-sequential layer. This second layer acts as an AND gate after the first layer (OR gate). The second layer makes sure that the input [1,1] returns false, while [1,0] and [0,1] return true.

## 3.
### a)

In [2]:
from keras.datasets import boston_housing
import numpy as np
import pandas as pd

In [25]:
boston_dataframe = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")
print('Dimensions\n\trows  : %d\n\tcolumn: %d' 
      % (boston_dataframe.shape[0], boston_dataframe.shape[1]))
# Shuffle the data
boston_dataframe = boston_dataframe.sample(frac=1)
boston_dataframe.head()

Dimensions
	rows  : 506
	column: 14

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
434,13.91340,0.0,18.10,0,0.713,6.208,95.0,2.2222,24,666,20.2,100.63,15.17,11.7
474,8.05579,0.0,18.10,0,0.584,5.427,95.4,2.4298,24,666,20.2,352.58,18.14,13.8
91,0.03932,0.0,3.41,0,0.489,6.405,73.9,3.0921,2,270,17.8,393.55,8.20,22.0
32,1.38799,0.0,8.14,0,0.538,5.950,82.0,3.9900,4,307,21.0,232.60,27.71,13.2
374,18.49820,0.0,18.10,0,0.668,4.138,100.0,1.1370,24,666,20.2,396.90,37.97,13.8

### b)

In [26]:
# Split data into testing, validation and training sets
testData = boston_dataframe[:50]
validationData = boston_dataframe[50:106]
trainingData = boston_dataframe[106:]

### c)

In [27]:
boston_dataframe['accessibility'] = boston_dataframe["dis"]/boston_dataframe["rad"]
boston_dataframe.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,accessibility
434,13.91340,0.0,18.10,0,0.713,6.208,95.0,2.2222,24,666,20.2,100.63,15.17,11.7,0.092592
474,8.05579,0.0,18.10,0,0.584,5.427,95.4,2.4298,24,666,20.2,352.58,18.14,13.8,0.101242
91,0.03932,0.0,3.41,0,0.489,6.405,73.9,3.0921,2,270,17.8,393.55,8.20,22.0,1.546050
32,1.38799,0.0,8.14,0,0.538,5.950,82.0,3.9900,4,307,21.0,232.60,27.71,13.2,0.997500
374,18.49820,0.0,18.10,0,0.668,4.138,100.0,1.1370,24,666,20.2,396.90,37.97,13.8,0.047375

The synthetic feature I created shows how accessible Boston's main employment centers are from the housing unit. If the housing unit is close to a center, or has easy access to highways, the number decreases. This can be useful because the price of a housing unit changes based on how easy it is to get to major employment centers. Employment centers can be easily accessed if the housing unit is close by or if there is easy highway access.